body {
    width: 1200;
    max-width: 100%;
    min-height: 650;
    background-color: rgb(255, 192, 203);

    display: flex;
    justify-content: center;
    align-items: center;
}


.header {
    width: 900;
    height: 650;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

}

    .header__text--h1 {
        
        font-family: 'VT323', monospace;
        color: rgb(11, 1, 18);
        font-size: 80px;  
        font-weight: 500;  
        
        margin: 30px;
        padding: 30px;
    }
     
    .header__text--h4 {
        font-family: 'Cedarville Cursive', cursive;
        color: rgb(11, 1, 18);
        font-size: 22px;
        padding: 10px;
    }

.blackhole__img {
    width: 300;
    height: 200;
}


.header__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    position: sticky;
    margin-bottom: 30px;
}

    .navlink--styles {
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        position: sticky;
        padding: 20px;

        font-family: 'Roboto Mono', monospace;
        font-size: 16px;
        font-style: normal; 
        text-decoration: none;

        transition: all .2s ease-in;
            font-weight: 400;
            color: blanchedalmond;
            transition-duration: 0.7s;
            transition-delay: 0.2s;
    } 
        /*MY FIRST TRANSITION*/
        .navlink--styles:hover {
            color: rgb(22, 249, 5);
            font-weight: 800;
}

/*MY FIRST CREATED ANIMATION*/
@keyframes imgZoom {
    0% {transform:scale(0.1)}
    60% {transform:scale(1.2)}
    100% {transform: scale(0.1)}
}

.header--button {
    background: none;
    border: none;
    margin-top: 10px;
    padding: 10px;
    animation:imgZoom 12s ease infinite;

    animation-fill-mode: none;
    animation-iteration-count:infinite
}
.header--button:hover {
    animation-play-state: paused;
}
